.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 40px;
  }
  
  .NavBar-link {
    margin: 0 10px;
  }

  .login {
      position: inherit;
      display: flex;
      justify-content: center;
      width: 40vmin;
  }